# Environments
venv/

# cache
__pycache__/

# Set up vscode
.vscode/


# archivos random
tester.py


# -----------------
SOFT_SVM_DAVID.ipynb
RF_1.ipynb
data_processed/
data_kagle/
data_final/
soft_svm.py
tester_2.py
RandomForest.ipynb
experimentacion.ipynb
